Data Analysis Capstone Project

### INTRODUCTION

In [1]:
# importing required libraries
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

In [2]:
# loading data. To get rid of "ValueError: Trailing data", lines are equaled to True.

df0 = pd.read_json('D:\\Users\\oem\\Desktop\\IT\\DS\\CapStone\\scout_car.json', lines=True)

In [3]:
# keeping the original version of the df.

df = df0.copy()

#### First Look to Data

In [4]:
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n2\n,"[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung f端r Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]",[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2016, \n]","[\n, Brown, \n]",[\nMetallic\n],NaN,NaN,"[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,195 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nC1626\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz Metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

##### Head

In [5]:
df.head().T
# to have a better look to columns, we transpose it.

,0,1,2,3,4
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price,15770,14500,14640,14500,16790
vat,VAT deductible,Price negotiable,VAT deductible,None,None
km,"56,013 km","80,000 km","83,450 km","73,000 km","16,200 km"
registration,01/2016,03/2017,02/2016,08/2016,05/2016
prev_owner,2 previous owners,None,1 previous owner,1 previous owner,1 previous owner
kW,NaN,NaN,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW,66 kW,66 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]"
Previous Owners,\n2\n,NaN,\n1\n,\n1\n,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]"
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]"
Full Service,"[\n, \n]",NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]"
Non-smoking Vehicle,"[\n, \n]",NaN,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n]"
null,[],[],[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n],NaN,[\nC1626\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]","[\n, Brown, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n],NaN,[\nMythosschwarz Metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]",NaN,"[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n],[\n3\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n],[\n4\n],[\n5\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN,NaN,[\n0588/BDF\n]
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,422 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN,[\n3\n],[\n3\n]
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN,"[\n1,195 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n],NaN,[\nfront\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n109 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M..."
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension..."
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E..."
description,"[\n, Sicherheit:, , Deaktivierung f端r Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n],NaN,NaN
Gears,NaN,[\n7\n],NaN,[\n6\n],NaN
Country version,NaN,NaN,NaN,NaN,[\nGermany\n]
Electricity consumption,NaN,NaN,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN,NaN,NaN
Availability,NaN,NaN,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN,NaN,NaN
Available from,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(15919, 54)

In [7]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [8]:
#some column names ('\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n') include "\n".
#They should be corrected

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [10]:
# some columns (kW) does not have any value and others have less value. These columns could be dropped out.

In [11]:
# df.duplicated().value_counts() --> returns error "TypeError: unhashable type: 'list'"

In [12]:
# in order to solve this error we need to convert list type objects to str type.
# df = df.applymap(lambda x: ','.join(map(str, x)) if isinstance(x, list) else x)

In [13]:
#df["Previous Owners2"] = df["Previous Owners"].apply(lambda item: item[0] if type(item) == list else item)
#df["Previous Owners2"]

In [14]:
# df.duplicated().value_counts()
#now the code works. There is no duplicated row.

In [15]:
df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
\nComfort & Convenience\n          920
\nEntertainment & Media\n         1374
\nExtras\n                        2962
\nSafety & Security\n              982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [16]:
df.isnull().sum()/len(df)*100

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
Type                               0.012564
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Warranty                          34.047365
Full Service                      48.395000
Non-smoking Vehicle               54.915510
null                               0.000000
Make                               0.000000
Model                              0.000000
Offer Number                      19.944720
First Registration                10.032037
Body Color                         3.750236
Paint Type                        36.258559
Body Color Original               23.613292
Upholstery                        23.368302
Body                               0.376908
Nr. of Doors                       1.331742
Nr. of Seats                       6.137320
Model Code                        68.729192
Gearing Type                       0.000000
Displacement                       3.115774
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
\nComfort & Convenience\n          5.779257
\nEntertainment & Media\n          8.631195
\nExtras\n                        18.606696
\nSafety & Security\n              6.168729
description                        0.000000
Emission Label                    74.967021
Gears                             29.599849
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

### Part II Data Cleaning

#### Reviewing columns

##### url

In [17]:
df["url"].isnull().sum()

0

In [18]:
df["url"].value_counts(dropna=False)

https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e                  1
https://www.autoscout24.com//offers/opel-insignia-bus-inno-2-0-cdti-aut-navi-bi-xe-led-e6-diesel-black-8710b253-dd98-4ed0-9d46-cbad2d79532b                1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-10b7463b-9f56-4348-af35-df3432b2b585    1
https://www.autoscout24.com//offers/opel-insignia-2-0cdti-st-business-innovation-navi-bt-diesel-black-ba5a3368-dedc-4e51-9127-3976b26e93c2                 1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-7b52f054-78d3-4d5e-9370-8a7d081d7edd    1
                                                                                                                                                          ..
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-black-cf50f7b1-4d7b-466f-93a2-4e11ec0b4107                        1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-grey-3f47eb34-15c4-4763-860d-78fcbbd2c9ff                         1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-f7a4bc95-b2ef-4bac-9497-6bcbcd05db0b                       1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-1c94c7a2-67b5-49ca-ae42-42a6800fb3f5                       1
https://www.autoscout24.com//offers/renault-espace-initiale-paris-tce-225-edc-gpf-navi-shz-aux-gasoline-grey-0bd690d9-7e93-4cab-bc5a-9d5b63402481          1
Name: url, Length: 15919, dtype: int64

In [19]:
df["url"].sample(3)

12630    https://www.autoscout24.com//offers/opel-insig...
13333    https://www.autoscout24.com//offers/renault-cl...
3622     https://www.autoscout24.com//offers/audi-a3-sp...
Name: url, dtype: object

This column includes urls for cars. There is no missing value. Each row has a different link. However, this column is not helpful for the target label, price. So, it is meaningful to drop it.

In [20]:
df.drop(["url"], axis=1, inplace=True)

##### make_model

In [21]:
df["make_model"].isnull().sum()

0

In [22]:
df["make_model"].value_counts(dropna=False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

The data has 9 different models for three brands. There is no missing value.

##### short_description

In [23]:
df["short_description"].isnull().sum()

46

In [24]:
df["short_description"].isnull().sum()/len(df)

0.002889628745524216

In [25]:
df["short_description"].sample()

623    Sportback 1.0 TFSI
Name: short_description, dtype: object

In [26]:
df["short_description"].value_counts(dropna=False)

SPB 1.6 TDI 116 CV S tronic Sport                 64
NaN                                               46
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10002, dtype: int64

This column gives information about each car. These information could be find via other columns. So, we can drop it.

In [27]:
df.drop(["short_description"], axis=1, inplace=True)

##### body_type

In [28]:
df["body_type"].isnull().sum()

60

In [29]:
df["body_type"].isnull().sum()/len(df)

0.003769080972422891

In [30]:
df["body_type"].value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

The missing value for the columns is less. We can keep the column.

##### price

In [31]:
df["price"].isnull().sum()

0

In [32]:
df["price"].value_counts(dropna=False)

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
17559      1
17560      1
17570      1
17575      1
39875      1
Name: price, Length: 2956, dtype: int64

In [33]:
df["price"].describe()
df["price"].describe().round(decimals=2)

count    15919.00
mean     18019.90
std       7386.17
min         13.00
25%      12850.00
50%      16900.00
75%      21900.00
max      74600.00
Name: price, dtype: float64

This is the target label. No missing value.

##### vat

In [34]:
df["vat"].isnull().sum()

4513

In [35]:
df["vat"].isnull().sum()/len(df)

0.28349770714240846

In [36]:
df["vat"].value_counts(dropna=False)

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

The number of "Nan" and "Price negotiable" is significant. Based on research, we can keep or dropp out the column.

##### km

In [37]:
df["km"].isnull().sum()

0

In [38]:
df["km"].value_counts(dropna=False)

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

Abbreviation "km" should be deleted,  "," and " " should be removed, "-" should be replaced with "NaN",

In [39]:
df["km"] = df.km.str.rstrip('km')

In [40]:
df["km"] = df.km.str.strip('').str.replace(",", "").str.replace("-", "NaN").astype("float")

In [41]:
df["km"].value_counts(dropna=False)

10.0       1045
NaN        1024
1.0         367
5.0         170
50.0        148
           ...
67469.0       1
43197.0       1
10027.0       1
35882.0       1
57.0          1
Name: km, Length: 6690, dtype: int64

In [42]:
# This column is important for model. Hence, we keep it.

##### registration

In [43]:
df["registration"].isnull().sum()

0

In [44]:
df["registration"].value_counts(dropna=False)

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

In [45]:
df["registration"] = df.registration.replace("-/-", np.nan)

In [46]:
df["registration"].value_counts(dropna=False)

NaN        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

In [47]:
df["registration"].value_counts(dropna=False)[0]/len(df)

0.10032037188265594

10% of the column is missing. After adding the column age, it is not meaningful to keep this column.

In [48]:
df.drop(["registration"], axis=1, inplace=True)

##### prev_owner

In [49]:
df["prev_owner"].isnull().sum()

6828

In [50]:
df["prev_owner"].isnull().sum() / len(df)

0.428921414661725

In [51]:
df["prev_owner"].value_counts(dropna=False)

1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [52]:
df["prev_owner"] = df.prev_owner.str.rstrip("previous owner")

In [53]:
df["prev_owner"] = df.prev_owner.str.rstrip("previous owners")

In [54]:
#df["prev_owner"] = df.prev_owner.str.replace("#\D+#", "", regex = True)

In [55]:
df["prev_owner"].value_counts(dropna=False)

1      8294
NaN    6828
2       778
3        17
4         2
Name: prev_owner, dtype: int64

##### kW

In [56]:
df["kW"].isnull().sum()

15919

This column does not include any value. So it could be dropped out.

In [57]:
df.drop(["kW"], axis=1, inplace=True)

##### hp

In [58]:
df["hp"].isnull().sum()

0

In [59]:
df.hp.value_counts(dropna=False)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, Length: 81, dtype: int64

In [60]:
df["hp"] = df.hp.str.rstrip(" kW")

In [61]:
df.hp.value_counts(dropna=False)

85     2542
66     2122
81     1402
100    1308
110    1112
       ...
84        1
195       1
44        1
239       1
9         1
Name: hp, Length: 81, dtype: int64

##### Type

In [62]:
df.Type.isnull().sum()

2

In [63]:
#df.Type.value_counts()

This column has similar content with fuel column. After checking that column the following code could be used to get rid of fuel types here.

In [64]:
df["Type"] = [item[1] if type(item) == list else item for item in df["Type"]]
df["Type"].value_counts()

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
Name: Type, dtype: int64

##### Previous Owners

In [65]:
df["Previous Owners"].isnull().sum()

6640

In [66]:
df["Previous Owners"].isnull().sum() / len(df["Previous Owners"])

0.4171116276147999

In [67]:
#df["Previous Owners"].value_counts()

In [68]:
df["Previous Owners"] = [item[0] if type(item) == list else item for item in df["Previous Owners"]]

In [69]:
df["Previous Owners"] = df["Previous Owners"].str.strip('\n')

In [70]:
df["Previous Owners"].value_counts()

1    8294
2     778
0     188
3      17
4       2
Name: Previous Owners, dtype: int64

In [71]:
# Previous Owners column has more data than prev owner. Thus, prev_owner could be dropped out.

In [72]:
df.drop(["prev_owner"], axis=1, inplace=True)

##### Next Inspection

In [73]:
df["Next Inspection"].isnull().sum()

12384

In [74]:
df["Next Inspection"].isnull().sum() / len(df)

0.7779383127080847

In [75]:
df["Next Inspection"] = [item[0] if type(item) == list else item for item in df["Next Inspection"]]

In [76]:
df["Next Inspection"] = df["Next Inspection"].str.strip('\n')

In [77]:
df["Next Inspection"].value_counts()

06/2021    471
03/2021    210
05/2021    180
04/2021    171
02/2021    168
          ...
05/2014      1
04/2016      1
01/1955      1
01/2018      1
11/2022      1
Name: Next Inspection, Length: 77, dtype: int64

More than 75% of this column is missing. Even there is more data in this column, it is not expected to have effect in price. Cars should be checked in every two year and average cost is around 100 Euro. https://www.tuev-hessen.de/en/297/fees-prices-for-the-mandatory-roadworthiness-inspection-hu/. So, this column can be dropped out.

In [78]:
df.drop(["Next Inspection"], axis=1, inplace=True)

##### Inspection new

In [79]:
df["Inspection new"].isnull().sum()

11987

In [80]:
df["Inspection new"].isnull().sum() / len(df)

0.7529995602738866

In [81]:
df["Inspection new"] = [item[0] if type(item) == list else item for item in df["Inspection new"]]
df["Inspection new"]

0        \nYes\n
1            NaN
2            NaN
3            NaN
4        \nYes\n
          ...
15914        NaN
15915        NaN
15916    \nYes\n
15917        NaN
15918    \nYes\n
Name: Inspection new, Length: 15919, dtype: object

In [82]:
df["Inspection new"] = df["Inspection new"].str.strip('\n')
df["Inspection new"]

0        Yes
1        NaN
2        NaN
3        NaN
4        Yes
        ...
15914    NaN
15915    NaN
15916    Yes
15917    NaN
15918    Yes
Name: Inspection new, Length: 15919, dtype: object

In [83]:
df["Inspection new"].value_counts()

Yes    3932
Name: Inspection new, dtype: int64

More than 75% of this column is missing. Since the inspection is done regularly and it's cost relatively ignorable, the column can be dropped out.

In [84]:
df.drop(["Inspection new"], axis=1, inplace=True)

##### Warranty

In [85]:
df["Warranty"].isnull().sum()

5420

In [86]:
df["Warranty"].isnull().sum() / len(df)

0.34047364784220113

In [87]:
df["Warranty"] = [item[0] if type(item) == list else item for item in df["Warranty"]]

In [88]:
df["Warranty"] = df["Warranty"].str.strip('\n').str.strip("months")
df["Warranty"]

0
1        NaN
2
3        NaN
4
        ...
15914    24
15915
15916
15917
15918    NaN
Name: Warranty, Length: 15919, dtype: object

In [89]:
len(df[df['Warranty'] == '']) / len(df)

0.354670519504994

In [90]:
df['Warranty'].isna().sum() / len(df)

0.34047364784220113

In [91]:
df["Warranty"].value_counts().sum()

10499

In [92]:
df["Warranty"].value_counts().sort_values(ascending=False)

       5646
12     2594
24     1118
60      401
36      279
48      149
6       125
72       59
3        33
23       11
18       10
20        7
25        6
2         5
50        4
26        4
16        4
19        3
34        3
13        3
1         3
4         3
28        2
22        2
14        2
11        2
46        2
21        2
9         2
17        2
45        2
7         1
47        1
49        1
56        1
8         1
33        1
15        1
10        1
65        1
40        1
30        1
Name: Warranty, dtype: int64

The sum of null and no values consist of around 70% of the column. So it could be dropped out.

In [93]:
df.drop(["Warranty"], axis = 1, inplace = True)

##### Full Service

In [94]:
df["Full Service"].isnull().sum()

7704

In [95]:
df["Full Service"].isnull().sum() / len(df)

0.4839499968590992

In [96]:
df["Full Service"] = [",".join(item) if type (item) == list else item for item in df["Full Service"]]
df["Full Service"] = df["Full Service"].str.lstrip(',').str.lstrip("\n").str.lstrip(',').str.lstrip("\n").str.lstrip("\n")

In [97]:
df["Full Service"].value_counts(dropna=False)

NaN                                                                            7704
,\n4 (Green)\n                                                                 2235
,\nEuro 6\n                                                                    2097
                                                                               1985
,\nEuro 6d-TEMP\n                                                               399
                                                                               ...
,\n,6 l/100 km (comb),\n,8 l/100 km (city),\n,4.9 l/100 km (country),\n           1
,\n84 g CO2/km (comb)\n                                                           1
,\n87 g CO2/km (comb)\n                                                           1
,\n,5.7 l/100 km (comb),\n,7.3 l/100 km (city),\n,4.9 l/100 km (country),\n       1
,\nEuro 4\n                                                                       1
Name: Full Service, Length: 122, dtype: int64

In [98]:
# The value in this column can be found in other columns. So, it can be dropped out.

In [99]:
df.drop(["Full Service"], axis = 1, inplace = True)

##### Non-smoking Vehicle

In [100]:
df["Non-smoking Vehicle"].isnull().sum()

8742

In [101]:
df["Non-smoking Vehicle"].isnull().sum() / len(df)

0.5491550976820152

In [102]:
df["Non-smoking Vehicle"] = df["Non-smoking Vehicle"].apply( lambda item: item [0] if type (item) == list else item).str.strip("\n")
df["Non-smoking Vehicle"]

0
1        NaN
2        NaN
3
4
        ...
15914    NaN
15915
15916
15917    NaN
15918    NaN
Name: Non-smoking Vehicle, Length: 15919, dtype: object

In [103]:
df["Non-smoking Vehicle"].value_counts(dropna=False)

NaN    8742
       7177
Name: Non-smoking Vehicle, dtype: int64

In [104]:
# This column does not have any value. So, it should be dropped out.

In [105]:
df.drop(["Non-smoking Vehicle"], axis = 1, inplace = True)

##### null

In [106]:
df["null"].isnull().sum()

0

In [107]:
df["null"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]    15919
Name: null, dtype: int64

In [108]:
 # This column does not have any value. So, it should be dropped out.

In [109]:
df.drop(["null"], axis = 1, inplace = True)

##### Make

In [110]:
df["Make"].value_counts(dropna=False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [111]:
df["Make"] = df["Make"].str.strip('\n')
df["Make"].value_counts(dropna=False)

Opel       7343
Audi       5712
Renault    2864
Name: Make, dtype: int64

##### Model

In [112]:
df["Model"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: Model, dtype: int64

In [113]:
df["Model"] = df["Model"].apply( lambda item: item [1] if type (item) == list else item)

In [114]:
df["Model"].value_counts(dropna=False)

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: Model, dtype: int64

In [115]:
df["Model"]

0            A1
1            A1
2            A1
3            A1
4            A1
          ...
15914    Espace
15915    Espace
15916    Espace
15917    Espace
15918    Espace
Name: Model, Length: 15919, dtype: object

In [116]:
df['Make_Model'] = df['Make'] + " " + df['Model']

In [117]:
df['Make_Model'].value_counts()

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: Make_Model, dtype: int64

In [118]:
# Columns Make and Model contains together same value with column make_model. So these columns can be dropped out.

In [119]:
df.drop(["Make", "Model", "Make_Model"], axis = 1, inplace = True)

##### Offer Number

In [120]:
df["Offer Number"].isnull().sum()

3175

In [121]:
df["Offer Number"].isnull().sum() / df.shape[0]

0.199447201457378

In [122]:
df["Offer Number"] = df["Offer Number"].apply( lambda item: item [0] if type (item) == list else item)

In [123]:
df["Offer Number"] = df["Offer Number"].str.strip('\n')
df["Offer Number"].value_counts()

LT67679                                     27
AK13780                                     27
TP62881                                     27
TA76392                                     27
XT61649                                     27
                                            ..
160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b     1
6701576                                      1
6701569                                      1
158121                                       1
Re_30000008029                               1
Name: Offer Number, Length: 11440, dtype: int64

In [124]:
# This column does not have effect on the target label. So, it could be dropped out.

In [125]:
df.drop(["Offer Number"], axis = 1, inplace = True)

##### First Registration

In [126]:
df["First Registration"].isnull().sum()

1597

In [127]:
df["First Registration"].isnull().sum() / df.shape[0]

0.10032037188265594

In [128]:
df["First Registration"] = df["First Registration"].apply( lambda item: item [1] if type (item) == list else item)

In [129]:
df["First Registration"] = pd.to_datetime(df["First Registration"]).dt.year

In [130]:
df["First Registration"].value_counts()

2018.0    4522
2016.0    3674
2017.0    3273
2019.0    2853
Name: First Registration, dtype: int64

##### Age

In [131]:
# A new age column can be added to the df. First registration can be dropped out.

In [132]:
df["Age"] = 2019 - df["First Registration"]
df["Age"]

0        3.0
1        2.0
2        3.0
3        3.0
4        3.0
        ...
15914    NaN
15915    0.0
15916    0.0
15917    0.0
15918    0.0
Name: Age, Length: 15919, dtype: float64

In [133]:
df.drop(["First Registration"], axis = 1, inplace = True)

##### Body Color

In [134]:
df["Body Color"].isnull().sum()

597

In [135]:
df["Body Color"].isnull().sum() / df.shape[0]

0.037502355675607765

In [136]:
df["Body Color"] = df["Body Color"].apply( lambda item: item [1] if type (item) == list else item)

In [137]:
df["Body Color"].value_counts()

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: Body Color, dtype: int64

##### Paint Type

In [138]:
df["Paint Type"].isnull().sum()

5772

In [139]:
df["Paint Type"].isnull().sum() / df.shape[0]

0.3625855895470821

In [140]:
df["Paint Type"] = df["Paint Type"].apply( lambda item: item [0] if type (item) == list else item)

In [141]:
df["Paint Type"] = df["Paint Type"].str.strip('\n')
df["Paint Type"].value_counts()

Metallic       9794
Uni/basic       347
Perl effect       6
Name: Paint Type, dtype: int64

##### Body Color Original

In [142]:
df["Body Color Original"].isnull().sum()

3759

In [143]:
df["Body Color Original"].isnull().sum() / df.shape[0]

0.23613292292229413

In [144]:
df["Body Color Original"] = df["Body Color Original"].apply( lambda item: item [0] if type (item) == list else item)

In [145]:
df["Body Color Original"] = df["Body Color Original"].str.strip('\n')
df["Body Color Original"].value_counts()

Onyx Schwarz                     338
Bianco                           282
Mythosschwarz Metallic           238
Brillantschwarz                  216
Gris                             204
                                ...
Rouge-Braun (G0Y)                  1
VARI COLRI DISPONIBILI             1
Kokosnussbraun Metallic            1
Farbe frei w辰hlbar                 1
Perlmutt-Wei Metallic (Wei)      1
Name: Body Color Original, Length: 1927, dtype: int64

In [146]:
# This column is missing more than 23% of the value and it does not seem have effect on the price. So, it could be dropped out.

In [147]:
df.drop(["Body Color Original"], axis = 1, inplace = True)

##### Upholstery

In [148]:
df["Upholstery"].isnull().sum()

3720

In [149]:
df["Upholstery"].isnull().sum() / df.shape[0]

0.23368302029021923

In [150]:
df["Upholstery"] = df["Upholstery"].apply( lambda item: item [0] if type (item) == list else item)
df["Upholstery"]

0               \nCloth, Black\n
1                \nCloth, Grey\n
2               \nCloth, Black\n
3                            NaN
4               \nCloth, Black\n
                  ...
15914                        NaN
15915                  \nCloth\n
15916    \nFull leather, Black\n
15917           \nPart leather\n
15918    \nFull leather, Brown\n
Name: Upholstery, Length: 15919, dtype: object

In [151]:
df["Upholstery"] = df["Upholstery"].str.strip('\n')

In [152]:
df["Upholstery"] = df.Upholstery.str.split().str[0].str.strip(',')

In [153]:
df["Upholstery"].value_counts()

Cloth        8423
Part         1499
Full         1009
Black         491
Other         368
Grey          273
Velour         60
alcantara      57
Brown          12
Beige           3
Blue            2
White           2
Name: Upholstery, dtype: int64

##### Body

In [154]:
df["Body"].isnull().sum()

60

In [155]:
df["Body"].isnull().sum() / df.shape[0]

0.003769080972422891

In [156]:
df["Body"] = df["Body"].apply( lambda item: item [1] if type (item) == list else item)
df["Body"].value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: Body, dtype: int64

##### Nr. of Doors

In [157]:
df["Nr. of Doors"].isnull().sum()

212

In [158]:
df["Nr. of Doors"].isnull().sum() / df.shape[0]

0.013317419435894215

In [159]:
df["Nr. of Doors"] = df["Nr. of Doors"].apply( lambda item: item [0] if type (item) == list else item).str.strip("\n")
df["Nr. of Doors"].value_counts()

5    11575
4     3079
3      832
2      219
1        1
7        1
Name: Nr. of Doors, dtype: int64

##### Nr. of Seats

In [160]:
df["Nr. of Seats"].isnull().sum()

977

In [161]:
df["Nr. of Seats"].isnull().sum() / df.shape[0]

0.06137320183428607

In [162]:
df["Nr. of Seats"] = df["Nr. of Seats"].apply( lambda item: item [0] if type (item) == list else item).str.strip("\n")
df["Nr. of Seats"].value_counts()

5    13336
4     1125
7      362
2      116
6        2
3        1
Name: Nr. of Seats, dtype: int64

##### Model Code

In [163]:
df["Model Code"].isnull().sum()

10941

In [164]:
df["Model Code"].isnull().sum() / df.shape[0]

0.6872919153213142

In [165]:
df["Model Code"] = df["Model Code"].apply( lambda item: item [0] if type (item) == list else item).str.strip("\n")
df["Model Code"].value_counts()

0035/BCB    268
0588/BNO    245
0588/BDB    206
0588/BHX    188
1844/ADJ    175
           ...
0000/ACP      1
0035/BGY      1
0035/bgp      1
0035/BGS      1
3333/BKG      1
Name: Model Code, Length: 232, dtype: int64

In [166]:
# More than 68% of the column is missing. And the rest does not seem having effect on th price. So this column can be dropped out.

In [167]:
df.drop(["Model Code"], axis = 1, inplace = True)

##### Gearing Type

In [168]:
df.rename(columns = {'Gearing Type':'Gearing'}, inplace = True)

In [169]:
df["Gearing"].isnull().sum()

0

In [170]:
df["Gearing"] = df["Gearing"].apply( lambda item: item [1] if type (item) == list else item).str.strip("\n")
df["Gearing"].value_counts()

Manual            8153
Automatic         7297
Semi-automatic     469
Name: Gearing, dtype: int64

##### Displacement

In [171]:
df["Displacement"].isnull().sum()

496

In [172]:
df["Displacement"].isnull().sum() / df.shape[0]

0.0311577360386959

In [173]:
df["Displacement"] = df["Displacement"].apply( lambda item: item [0] if type (item) == list else item).str.strip("\n").str.strip("cc").str.replace(",", "")
df["Displacement"].value_counts()

1598     4761
999      2438
1398     1314
1399      749
1229      677
         ...
122         1
1198        1
1195        1
2967        1
1800        1
Name: Displacement, Length: 77, dtype: int64

##### Cylinders

In [174]:
df["Cylinders"].isnull().sum()

5680

In [175]:
df["Cylinders"].isnull().sum() / df.shape[0]

0.3568063320560337

In [176]:
df["Cylinders"] = df["Cylinders"].apply( lambda item: item [0] if type (item) == list else item).str.strip("\n")
df["Cylinders"].value_counts()

4    8105
3    2104
5      22
6       3
8       2
2       2
1       1
Name: Cylinders, dtype: int64

##### Weight

In [177]:
df["Weight"].isnull().sum()

6974

In [178]:
df["Weight"].isnull().sum() / df.shape[0]

0.43809284502795404

In [179]:
df["Weight"] = df["Weight"].apply( lambda item: item [0] if type (item) == list else item).str.strip("\n").str.strip("kg").str.replace(",", "")
df["Weight"].value_counts(dropna = False)

NaN      6974
1163      574
1360      356
1165      301
1335      242
         ...
1960        1
1258        1
1167        1
1331        1
2037        1
Name: Weight, Length: 435, dtype: int64

##### Drive chain

In [180]:
df["Drive chain"].isnull().sum()

6858

In [181]:
df["Drive chain"].isnull().sum() / df.shape[0]

0.4308059551479364

In [182]:
df["Drive chain"] = df["Drive chain"].apply( lambda item: item [0] if type (item) == list else item).str.strip("\n")
df["Drive chain"].value_counts(dropna = False)

front    8886
NaN      6858
4WD       171
rear        4
Name: Drive chain, dtype: int64

##### Fuel

In [183]:
df["Fuel"].isnull().sum()

0

In [184]:
df["Fuel"] = df["Fuel"].apply( lambda item: item [1] if type (item) == list else item).str.strip("\n")
df["Fuel"].value_counts(dropna = False)

Diesel (Particulate Filter)                                                                                  4315
Super 95                                                                                                     3338
Gasoline                                                                                                     3175
Diesel                                                                                                       2984
Super 95 / Regular/Benzine 91                                                                                 424
                                                                                                             ...
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                          1
Super Plus 98 / Super E10 95                                                                                    1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98       1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98       1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                    1
Name: Fuel, Length: 77, dtype: int64

In [185]:
df['Fuel'] = df['Fuel'].str.split(' ').str[0]
df["Fuel"]

0          Diesel
1        Gasoline
2          Diesel
3          Diesel
4          Diesel
           ...
15914      Diesel
15915       Super
15916      Diesel
15917      Diesel
15918       Super
Name: Fuel, Length: 15919, dtype: object

In [186]:
df["Fuel"].value_counts(dropna = False)

Diesel               7299
Super                4790
Gasoline             3252
Regular/Benzine       503
CNG                    36
LPG                    16
Liquid                 10
Others                  6
Electric/Gasoline       4
Biogas                  1
Domestic                1
Electric                1
Name: Fuel, dtype: int64

In [187]:
benzine = ["Super", "Gasoline", "Regular/Benzine", "Others"]
lpg = ["CNG", "LPG", "Liquid", "Biogas", "Domestic", ]

def fueltype(x):
    if x in benzine :
        return "Benzine"
    elif x in lpg :
        return "LPG/CNG"
    else:
        return x
df["Fuel"] = df.Fuel.apply(fueltype)

In [188]:
df["Fuel"].value_counts(dropna = False)

Benzine              8551
Diesel               7299
LPG/CNG                64
Electric/Gasoline       4
Electric                1
Name: Fuel, dtype: int64

##### Consumption

In [189]:
df["Consumption"].isnull().sum()

1906

In [190]:
df["Consumption"].isnull().sum() / df.shape[0]

0.11973113889063383

In [191]:
df.Consumption.sample(3)

8025                                                   NaN
276      [[4.4 l/100 km (comb)], [5.4 l/100 km (city)],...
13245    [[5.9 l/100 km (comb)], [7.9 l/100 km (city)],...
Name: Consumption, dtype: object

In [192]:
df["Consumption"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                   1906
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]               304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                 276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]               257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]               253
                                                                                      ...
[[4.2 l/100 km (comb)], [5.3 l/100 km (city)], [3.6 l/100 km (country)]]                 1
[\n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]       1
[[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [6.7 l/100 km (country)]]                 1
[\n, 6.3 l/100 km (comb), \n, \n, \n]                                                    1
[\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]         1
Name: Consumption, Length: 882, dtype: int64

In [193]:
def cnsm_comb(x):
    if type(x) == list and len(x) == 3 :
        if x[0] != [] : return x[0][0]
    else:
        return None
    
    if type(x) == list and len(x) == 5 :
        return x[1]
    
    if type(x) == list and len(x) == 7 :
         return x[1]
    
    else: 
        return None

In [194]:
def cnsm_city(x):
    if type(x) == list and len(x) == 3 :
        if x[1] != [] : return x[1][0]
        else:
            return None
    
    if type(x) == list and len(x) == 5 :
        return None
    
    if type(x) == list and len(x) == 7 :
         return x[3]
    
    else: 
            return None

In [195]:
def cnsm_county(x):
    if type(x) == list and len(x) == 3 :
        if x[2] != [] : return x[2][0]
        else:
            return None
    
    if type(x) == list and len(x) == 5 :
        return None
    
    if type(x) == list and len(x) == 7 :
         return x[5]
    
    else: 
            return None

In [196]:
df["cnsm_comb"] = df.Consumption.apply(cnsm_comb).str.extract('(\d*.\d*)').astype("float")
df["cnsm_city"] = df.Consumption.apply(cnsm_city).str.extract('(\d*.\d*)').astype("float")
df["cnsm_county"] = df.Consumption.apply(cnsm_county).str.extract('(\d*.\d*)').astype("float")

In [197]:
df["cnsm_comb"].value_counts(dropna=False).head()

NaN    2883
3.9     732
4.0     712
5.4     663
5.1     630
Name: cnsm_comb, dtype: int64

In [198]:
df["cnsm_city"].value_counts(dropna=False).head()

NaN    2436
5.0     669
5.8     633
4.5     580
4.3     533
Name: cnsm_city, dtype: int64

In [199]:
df["cnsm_county"].value_counts(dropna=False).head()

NaN    2376
4.2    1178
3.7    1089
4.4     898
4.5     848
Name: cnsm_county, dtype: int64

##### CO2 Emission

In [200]:
df["CO2 Emission"].isnull().sum()

1808

In [201]:
df["CO2 Emission"].isnull().sum() / df.shape[0]

0.11357497330234312

In [202]:
df["CO2 Emission"] = df["CO2 Emission"].apply( lambda item: item [0] if type (item) == list else item).str.strip("\n")
df["CO2 Emission"].value_counts(dropna = False)

NaN                      2436
120 g CO2/km (comb)       740
99 g CO2/km (comb)        545
97 g CO2/km (comb)        537
104 g CO2/km (comb)       501
                         ...
14 g CO2/km (comb)          1
1,060 g CO2/km (comb)       1
51 g CO2/km (comb)          1
165 g CO2/km (comb)         1
193 g CO2/km (comb)         1
Name: CO2 Emission, Length: 123, dtype: int64

In [203]:
df["CO2 Emission"] = df["CO2 Emission"].str.extract('(\d*.\d*)')
df["CO2 Emission"].value_counts(dropna = False)

NaN      2436
120       740
99        545
97        537
104       501
         ...
14          1
1,060       1
51          1
165         1
193         1
Name: CO2 Emission, Length: 123, dtype: int64

##### Emission Class

In [204]:
df["Emission Class"].isnull().sum()

3021

In [205]:
df["Emission Class"].isnull().sum() / df.shape[0]

0.18977322696149257

In [206]:
df["Emission Class"] = df["Emission Class"].apply( lambda item: item [0] if type (item) == list else item).str.strip("\n")
df["Emission Class"].value_counts(dropna = False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: Emission Class, dtype: int64

##### \nComfort & Convenience\n

In [207]:
df.rename(columns = {'\nComfort & Convenience\n':'Comfort_Convenience'}, inplace = True)

In [208]:
df["Comfort_Convenience"].isnull().sum()

920

In [209]:
df["Comfort_Convenience"].isnull().sum() / df.shape[0]

0.057792574910484326

In [210]:
df["Comfort_Convenience"] = [",".join(item) if type (item) == list else item for item in df["Comfort_Convenience"]]
df["Comfort_Convenience"].value_counts(dropna = False).head()

NaN                                                                                                                                                                                                                                                                                                                                                   920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                    216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                        130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system    105
Name: Comfort_Convenience, dtype: int64

##### \nEntertainment & Media\n

In [211]:
df.rename(columns = {'\nEntertainment & Media\n':'Entertainment_Media'}, inplace = True)

df["Entertainment_Media"].isnull().sum()

df["Entertainment_Media"].isnull().sum() / df.shape[0]

df["Entertainment_Media"] = [",".join(item) if type (item) == list else item for item in df["Entertainment_Media"]]
df["Entertainment_Media"].value_counts(dropna = False).head()

NaN                                                                         1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                  1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB               982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB     783
On-board computer,Radio                                                      487
Name: Entertainment_Media, dtype: int64

##### \nExtras\n

In [212]:
df.rename(columns = {'\nExtras\n':'Extras'}, inplace = True)

df["Extras"].isnull().sum()

df["Extras"].isnull().sum() / df.shape[0]

df["Extras"] = [",".join(item) if type (item) == list else item for item in df["Extras"]]
df["Extras"].value_counts(dropna = False).head()

Alloy wheels                               3245
NaN                                        2962
Alloy wheels,Touch screen                   697
Alloy wheels,Voice Control                  577
Alloy wheels,Touch screen,Voice Control     541
Name: Extras, dtype: int64

##### \nSafety & Security\n

In [213]:
df.rename(columns = {'\nSafety & Security\n':'Safety_Security'}, inplace = True)

df["Safety_Security"].isnull().sum()

df["Safety_Security"].isnull().sum() / df.shape[0]

df["Safety_Security"] = [",".join(item) if type (item) == list else item for item in df["Safety_Security"]]
df["Safety_Security"].value_counts(dropna = False).head()

NaN                                                                                                                                                                                                                                                        982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                               538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                          480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                         275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control    272
Name: Safety_Security, dtype: int64

##### description

In [214]:
df["description"].isnull().sum()

0

In [215]:
df["description"].isnull().sum() / df.shape[0]

0.0

In [216]:
df["description"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        636
[\n, \n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   30
[\n, Fahrzeugbeschreibung,  Sichern Sie sich diesen Renault Clio 1.6 TCE Energy Sport Trophy zum Top-Preis inklusive dem , AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  1.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt,  , Highlights,  , Audio-Navigationssystem R-Link Evolution mit Touchscreen und Carminat TomTom,  , Sportsitze ,  , Sportfahrwerk,  , Scheinwerfer Full-LED , Komfort,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Klimaanlage,  , Einparkhilfe hinten,  , Multifunktionslenkrad (Sport/Leder) mit Schaltwippen/-tasten ,  , Fensterheber elektr. mit Impulsgeber links/rechts vorn,  , Zentralverriegelung / Startanlage Handsfree Entry & Drive ,  , Berganfahr-Assistent (HSA) , Multimedia,  , Audiosystem: Radio R & GO (Bluetooth, DAB-Tuner),  , Bordcomputer,  , Freisprecheinrichtung Bluetooth ,  , USB-Anschluss inkl. AUX-IN-Anschluss (Plug & Music) , Licht und Sicht,  , Auenspiegel elektr. verstell- und heizbar ,  , Licht- und Regensensor ,  , Tagfahrlicht LED ,  , Nebelscheinwerfer LED ,  , Coming-Home-Lichtfunktion ,  , Heckleuchten LED , Sicherheit,  , Isofix-Aufnahmen f端r Kindersitz ,  , Seitenairbag vorn,  , Wegfahrsperre,  , Differentialsperre,  , Bremsassistent ,  , Elektron. Stabilit辰ts-Programm (ESP),  , Anti-Blockier-System (ABS),  , Anti-Submarining-Airbag im Fond,  , Airbag Fahrer-/Beifahrerseite ,  , Differentialsperre ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , Antischlupfregelung (ASR) , Weiteres,  , Start/Stop-Anlage ,  , Servolenkung geschwindigkeitsabh辰ngig,  , R.S. Drive (Fahrmodusschalter) ,  , Gep辰ckraumabdeckung / Rollo ,  , Heckdiffusor ,  , LM-Felgen ,  , Heckspoiler (Renault Sport) ,  , Pedale Aluminium ,  , Energier端ckgewinnung (Energy Smart Management) , ...]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              27
[\nPosibilidad de prueba del veh鱈culo hasta 5 d鱈as. Consultar condiciones. PVP para particulares. Varias unidades y colores disponibles. Precios publicados para veh鱈culos industriales (furgonetas) v叩lidos para compradores aut坦nomos o empresas, consultar condiciones para particulares. Las im叩genes y kil坦metros pueden no corresponder con el modelo anunciado. Para confirmar p坦ngase en contacto con nuestro departamento comercial. Consulta las excepcionales condiciones de financiaci坦n que tenemos disponibles. Precio de venta final IVA y gastos de transferencia incluidos. Horario de atenci坦n al cliente: Lunes a Viernes de 09:00 a 18:00.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          27
[\nSichern Sie sich diesen RENAULT CLIO 1.2 LIMITED zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  2.Hand, mindestens 12 Monate g端ltige HU und AU, deutsche Ausf端hrung, unfallfrei ,  , Highlights,  , Audio-Navigationssystem mit Touchscreen-Farbdisplay, Komfort,  , Klimaanlage ,  , Multifunktionslenkrad in Leder ,  , Berganfahr-Assistent (HSA),  , Fensterheber elektrisch vorn ,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Heckscheibe heizbar ,  , Sitz vorn links h旦henverstellbar,  , Sitz vorn rechts umklappbar ,  , Stau-/Ablagefach im Laderaumboden ,  , Zentralverriegelung mit Fernbedienung , Multimedia,  , Radio R&GO,  , Bluetooth Freisprechanlage ,  , USB-/AUX-Schnittstelle ,  , Bordcomputer,  , Licht und Sicht,  , Tagfahrlicht LED ,  , Auenspiegel elektrisch verstell- und heizbar, Sicherheit,  , Airbag f端r Fahrer und Beifahrer,  , Beifahrerairbag deaktivierbar ,  , Seitenairbags vorn ,  , Kopfairbagsystem,  , Anti-Blockier-System (ABS),  , Elektronische Bremskraftverteilung ,  , Elektronische Stabilit辰ts-Programm (ESP) ,  , Reifen-Reparaturkit ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , ISOFIX Kindersitzverankerung , Weiteres,  , Dachreling silber ,  , Look-Paket Chrom (auen) ,  , Look-Paket Grau (innen) ,  , R&GO-Paket ,  , Style-Paket ,  Ihr , AUTOHERO-RUNDUM-SORGLOS-PAKET,  beinhaltet:, Kostenlose Lieferung in Ihre N辰he, Optische & technische Aufbereitung, Mindestens 12 Monate g端ltige HU und AU, 1-Jahr-Premium-Garantie, Zulassung inklusive , 14-Tage-R端ckgaberecht, Markenunabh辰ngige Inzahlungnahme , Individuelle Finanzierungen zu fairen Konditionen,  , HIER GEHT ES ZUR 360属 - ANSICHT DES FAHRZEUGES:, :, https://www.autohero.com/de/renault-clio-1-2-limited/id/30f99516-8785-47e7-a4a3-6cdac4d8e633/,  , Haftungsausschluss, :, F端r Angaben vom Verk辰ufer, des Herstellers oder von Datenbankabfragen 端bernimmt Autohero keine Haftung. nderungen, Zwischenverkauf und Irrt端mer sind vorbehalten.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
[\nPratica67374, Airbag fullsize per conducente e passeggero, Alzacristalli elettrici ant. e post. con funzione attivaz. a pressione, Assetto dinamico, Audi drive select, Inserti in micrometallic argento, Kit riparazione pneumatici, Pacchetto di navigazione, Piano di copertura del vano bagagli estraibile, Presa AUX-IN, Proiettori allo Xenon Plus con reg. aut. prof. fari, Lavafari, Rivestimenti dei sedili in tessuto, Serbatoio AdBlue, Sistema controllo pressione pneumatici, Sistema di ancoraggio ISOFIX e 3属 punto di ancoraggio Top Tether sui sedili post. laterali, Sistema di informazioni per il conducente con display monocromatico, Tappetini anteriori e posteriori, Versione Business, Volante sportivo multifunzionale in pelle 3 razze, ABS, EBV (Ripartitore elettronico della forza frenante), Airbag laterali anteriori integrati negli schienali dei sedili, Airbag per la testa, Airbag per le ginocchia (lato conducente), Appoggiatesta anteriori (2) e posteriori (3) regolabili, Radio MMI plus, Interfaccia Bluetooth, Appoggiabraccia centrale anteriore, Cambio manuale, Cerchi in lega 7 J x 16" a 5 razze a stella, Chiusura centralizzata con telecomando, Regolatore di velocit, ESC - Sistema elettronico di controllo della stabilizzazione con bloccaggio trasversale elettronico, ASR - Dispositivo di controllo della trazione, EDS (Dispositivo antislittamento in partenza), Filtro anti particolato, Cinture di sicurezza con pretensionatore, Specchietti retrovisivi esterni riscaldabili e ripiegabili elettricamente, Schienale del sedile posteriore ribaltabile (divisibile in rapporto 40:60 o ribaltabile completam.), Sistema di ausilio al parcheggio posteriore, Servosterzo elettromeccanico, Tergilunotto\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1

In [217]:
#This column includes same info with other columns. It can be dropped out.

In [218]:
df.drop(["description"], axis = 1, inplace = True)

##### Emission Label

In [219]:
df.rename(columns = {'Emission Label':'Emission_Label'}, inplace = True)

df["Emission_Label"].isnull().sum()

df["Emission_Label"].isnull().sum() / df.shape[0]

df["Emission_Label"] = df["Emission_Label"].apply( lambda item: item [0] if type (item) == list else item).str.strip("\n")
df["Emission_Label"].value_counts(dropna = False)

NaN               11974
4 (Green)          3553
1 (No sticker)      381
5 (Blue)              8
3 (Yellow)            2
2 (Red)               1
Name: Emission_Label, dtype: int64

In [220]:
df["Emission_Label"] = df.Emission_Label.str.extract('(\D+)')
df["Emission_Label"].value_counts(dropna = False)

NaN              11974
 (Green)          3553
 (No sticker)      381
 (Blue)              8
 (Yellow)            2
 (Red)               1
Name: Emission_Label, dtype: int64

In [221]:
df["Emission_Label"] = df.Emission_Label.str.replace('\W', '')
df["Emission_Label"].value_counts(dropna = False)

NaN          11974
Green         3553
Nosticker      381
Blue             8
Yellow           2
Red              1
Name: Emission_Label, dtype: int64

In [222]:
#This column lacks significant amount of value. It can be dropped out

In [223]:
df.drop(["Emission_Label"], axis = 1, inplace = True)

##### Gears

In [224]:
df["Gears"].isnull().sum()

4712

In [225]:
df["Gears"].isnull().sum() / df.shape[0]

0.29599849236761105

In [226]:
df["Gears"] = df["Gears"].apply( lambda item: item [0] if type (item) == list else item).str.strip("\n").astype("float")

In [227]:
df["Gears"].value_counts(dropna = False)

6.0     5822
NaN     4712
5.0     3239
7.0     1908
8.0      224
9.0        6
1.0        2
3.0        2
4.0        2
2.0        1
50.0       1
Name: Gears, dtype: int64

##### Country version

In [228]:
df["Country version"].isnull().sum()

8333

In [229]:
df["Country version"].isnull().sum() / df.shape[0]

0.5234625290533325

In [230]:
df["Country version"] = df["Country version"].apply( lambda item: item [0] if type (item) == list else item).str.strip("\n")
df["Country version"].value_counts(dropna = False)

NaN               8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: Country version, dtype: int64

In [231]:
# This column is missing more than half of the value. So, it could be dropped out.

In [232]:
df.drop(["Country version"], axis = 1, inplace = True)

##### Electricity consumption

In [233]:
df["Electricity consumption"].isnull().sum()

15782

In [234]:
df["Electricity consumption"].isnull().sum() / df.shape[0]

0.9913939317796344

In [235]:
# This column can be dropped out because of the less amount of data.

In [236]:
df.drop(["Electricity consumption"], axis = 1, inplace = True)

##### Last Service Date

In [237]:
df["Last Service Date"].isnull().sum()

15353

In [238]:
df["Last Service Date"].isnull().sum() / df.shape[0]

0.9644450028268108

In [239]:
# This column can be dropped out because of the less amount of data.

In [240]:
df.drop(["Last Service Date"], axis = 1, inplace = True)

##### Other Fuel Types

In [241]:
df["Other Fuel Types"].isnull().sum()

15039

In [242]:
df["Other Fuel Types"].isnull().sum() / df.shape[0]

0.9447201457377976

In [243]:
# This column can be dropped out because of the less amount of data.

In [244]:
df.drop(["Other Fuel Types"], axis = 1, inplace = True)

##### Availability

In [245]:
df["Availability"].isnull().sum()

15284

In [246]:
df["Availability"].isnull().sum() / df.shape[0]

0.9601105597085244

In [247]:
# This column can be dropped out because of the amount of data.

In [248]:
df.drop(["Availability"], axis = 1, inplace = True)

##### Last Timing Belt Service Date

In [249]:
df["Last Timing Belt Service Date"].isnull().sum()

15903

In [250]:
df["Last Timing Belt Service Date"].isnull().sum() / df.shape[0]

0.9989949117406872

In [251]:
# This column can be dropped out because of the amount of data.

In [252]:
df.drop(["Last Timing Belt Service Date"], axis = 1, inplace = True)

##### Available from

In [253]:
df["Available from"].isnull().sum()

15647

In [254]:
df["Available from"].isnull().sum() / df.shape[0]

0.982913499591683

In [255]:
# This column can be dropped out because of the amount of data.

In [256]:
df.drop(["Available from"], axis = 1, inplace = True)

### Final Review

In [257]:
df.shape

(15919, 32)

In [258]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'hp', 'Type',
       'Previous Owners', 'Body Color', 'Paint Type', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Gearing', 'Displacement', 'Cylinders',
       'Weight', 'Drive chain', 'Fuel', 'Consumption', 'CO2 Emission',
       'Emission Class', 'Comfort_Convenience', 'Entertainment_Media',
       'Extras', 'Safety_Security', 'Gears', 'Age', 'cnsm_comb', 'cnsm_city',
       'cnsm_county'],
      dtype='object')

In [259]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   make_model           15919 non-null  object
 1   body_type            15859 non-null  object
 2   price                15919 non-null  int64
 3   vat                  11406 non-null  object
 4   km                   14895 non-null  float64
 5   hp                   15919 non-null  object
 6   Type                 15917 non-null  object
 7   Previous Owners      9279 non-null   object
 8   Body Color           15322 non-null  object
 9   Paint Type           10147 non-null  object
 10  Upholstery           12199 non-null  object
 11  Body                 15859 non-null  object
 12  Nr. of Doors         15707 non-null  object
 13  Nr. of Seats         14942 non-null  object
 14  Gearing              15919 non-null  object
 15  Displacement         15423 non-null  object
 16  Cylinders            10239 non-null  object
 17  Weight               8945 non-null   object
 18  Drive chain          9061 non-null   object
 19  Fuel                 15919 non-null  object
 20  Consumption          14013 non-null  object
 21  CO2 Emission         13483 non-null  object
 22  Emission Class       12291 non-null  object
 23  Comfort_Convenience  14999 non-null  object
 24  Entertainment_Media  14545 non-null  object
 25  Extras               12957 non-null  object
 26  Safety_Security      14937 non-null  object
 27  Gears                11207 non-null  float64
 28  Age                  14322 non-null  float64
 29  cnsm_comb            13036 non-null  float64
 30  cnsm_city            13483 non-null  float64
 31  cnsm_county          13543 non-null  float64
dtypes: float64(6), int64(1), object(25)
memory usage: 3.9+ MB

In [260]:
df.to_csv("scout.csv", index=False)